<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>GoalGate</title>
    <meta
      name="keywords"
      content="bilete fotbal, fotbal, stadion, cumpără bilete"
    />
    <meta
      name="description"
      content="Cumpara bilete la meciurile tale preferate de fotbal."
    />
    <%- include("../fragmente/head.ejs") %>
    <script src="/resurse/js/produse.js"></script>
  </head>
  <body>
    <%- include("../fragmente/header.ejs") %>
    <main>
      <div class="produse-container">
        <div class="filtrare-container">
          <div class="row">
            <div class="mb-sm-5 col-md-6 col-lg-4">
              <label for="inp-nume" class="form-label">Nume:</label>
              <input
                type="text"
                id="inp-nume"
                class="form-control form-control-sm"
              />
            </div>

            <div class="mb-sm-5 col-md-6 col-lg-4">
              <label for="inp-categorie" class="form-label">Categorie:</label>
              <select id="inp-categorie" class="form-select form-select-sm">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.optiuni) { %>
                <option value="<%- opt.unnest %>"><%- opt.unnest %></option>
                <% } %>
              </select>
            </div>

            <div class="mb-sm-5 col-md-6 col-lg-4">
              <label for="inp-data" class="form-label">Data meciului:</label>
              <input
                list="datalist-date"
                id="inp-data"
                name="data_eveniment"
                class="form-control form-control-sm"
              />
              <datalist id="datalist-date">
                <% const dateUnice = [...new Set(locals.produse.map(p => new
                Date(p.data_eveniment).toISOString().split("T")[0]))];
                dateUnice.sort(); for (let data of dateUnice) { %>
                <option value="<%= data %>"><%= data %></option>
                <% } %>
              </datalist>
            </div>

            <div class="mb-sm-5 col-md-6 col-lg-4">
              <label for="inp-tip-acces" class="form-label">Tip acces:</label>
              <select
                id="inp-tip-acces"
                multiple
                size="5"
                class="form-select form-select-sm"
              >
                <option value="vip">VIP</option>
                <option value="tribuna">Tribună</option>
                <option value="peluza">Peluză</option>
                <option value="familie">Familie</option>
                <option value="student">Student</option>
              </select>
            </div>

            <div class="form-floating mb-sm-5 col-md-6 col-lg-4">
              <textarea
                id="inp-facilitati"
                class="form-control"
                placeholder="ex: restaurant, bar, jucători"
              ></textarea>
              <label for="inp-facilitati">Facilități</label>
              <div class="invalid-feedback">
                Textul nu trebuie să conțină cifre.
              </div>
            </div>

            <div class="mb-sm-5 col-md-6 col-lg-4">
              <label for="inp-capacitate" class="form-label d-block">
                Capacitate minimă: <span id="infoCapacitate">(0)</span>
              </label>
              <input
                type="range"
                id="inp-capacitate"
                class="form-range"
                min="0"
                max="120000"
                step="1000"
              />
              <div class="d-flex justify-content-between">
                <span id="infoCapacitateMin">min(0)</span>
                <span id="infoCapacitateMax">max(120000)</span>
              </div>
            </div>

            <div class="mb-sm-5 col-md-6 col-lg-4">
              <label class="form-label d-block">Preț:</label>
              <div
                class="btn-group d-flex flex-wrap gap-2"
                role="group"
                aria-label="Preturi"
              >
                <div>
                  <input
                    type="radio"
                    class="btn-check"
                    name="pret_rad"
                    id="pret-mic"
                    value="0:100"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-primary btn-sm" for="pret-mic"
                    >Mic (&lt; 100)</label
                  >
                </div>

                <div>
                  <input
                    type="radio"
                    class="btn-check"
                    name="pret_rad"
                    id="pret-mediu"
                    value="100:500"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-primary btn-sm" for="pret-mediu"
                    >Mediu (100 - 500)</label
                  >
                </div>

                <div>
                  <input
                    type="radio"
                    class="btn-check"
                    name="pret_rad"
                    id="pret-mare"
                    value="500:100000"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-primary btn-sm" for="pret-mare"
                    >Mare (&gt; 500)</label
                  >
                </div>

                <div>
                  <input
                    type="radio"
                    class="btn-check"
                    name="pret_rad"
                    id="pret-toate"
                    value="toate"
                    autocomplete="off"
                    checked
                  />
                  <label class="btn btn-outline-primary btn-sm" for="pret-toate"
                    >Toate</label
                  >
                </div>
              </div>
            </div>

            <div class="mb-sm-5 col-md-6 col-lg-4">
              <input
                type="checkbox"
                class="btn-check"
                id="inp-parcare"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary btn-sm w-100 text-start"
                for="inp-parcare"
              >
                Doar meciuri cu parcare inclusă
              </label>
            </div>
          </div>
        </div>

        <div class="d-flex flex-wrap gap-2 my-3">
          <button id="filtrare" class="btn btn-primary btn-sm">
            <i class="bi bi-funnel-fill"></i>
            <span class="d-none d-sm-inline text-butoane-d">Filtrează</span>
          </button>

          <button id="resetare" class="btn btn-primary btn-sm">
            <i class="bi bi-arrow-counterclockwise"></i>
            <span class="d-none d-sm-inline text-butoane-d">Resetează</span>
          </button>

          <button id="sortCrescRaport" class="btn btn-primary btn-sm">
            <i class="bi bi-sort-up-alt"></i>
            <span class="d-none d-sm-inline text-butoane-d"
              >Sortare cresc. raport</span
            >
          </button>

          <button id="sortDescrescRaport" class="btn btn-primary btn-sm">
            <i class="bi bi-sort-down-alt"></i>
            <span class="d-none d-sm-inline text-butoane-d"
              >Sortare descresc. raport</span
            >
          </button>

          <button id="btn-calcul-media" class="btn btn-primary btn-sm">
            <i class="bi bi-calculator"></i>
            <span class="d-none d-sm-inline text-butoane-d"
              >Calc. medie prețuri</span
            >
          </button>
        </div>

        <p id="p-suma">
          Apăsați Alt+"c" pentru suma preturilor produselor afișate.
        </p>

        <section id="produse">
          <h2>Produse</h2>
          <div class="grid-produse">
            <% for( let prod of locals.produse) { %>
            <article
              class="produs <%= prod.categorie_mare %>"
              id="elem_<%= prod.id %>"
            >
              <h3 class="nume">
                Nume:
                <a href="/produs/<%-prod.id %>"
                  ><span class="val-nume"><%- prod.nume%></span></a
                >
              </h3>
              <div class="info-prod">
                <table>
                  <tr>
                    <td><p class="pret">Pret:</p></td>
                    <td><span class="val-pret"><%- prod.pret%></span></td>
                  </tr>
                  <tr>
                    <td>
                      <p class="capacitate">Capacitate stadion:</p>
                    </td>
                    <td>
                      <span class="val-capacitate"
                        ><%- prod.capacitate_stadion%></span
                      >
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="tip-acces">Tip Acces:</p>
                    </td>
                    <td>
                      <span class="val-tip-acces"><%- prod.tip_acces%></span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="facilitati">Facilitati:</p>
                    </td>
                    <td>
                      <span class="val-facilitati"><%- prod.facilitati%></span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="data_eveniment">
                        Data meci: <% const data = new
                        Date(prod.data_eveniment); const luni = ["Ianuarie",
                        "Februarie", "Martie", "Aprilie", "Mai", "Iunie",
                        "Iulie", "August", "Septembrie", "Octombrie",
                        "Noiembrie", "Decembrie"]; const zile = ["Duminica",
                        "Luni", "Marti", "Miercuri", "Joi", "Vineri",
                        "Sambata"]; const zi = data.getDate(); const luna =
                        luni[data.getMonth()]; const an = data.getFullYear();
                        const ziSaptamana = zile[data.getDay()]; %>
                      </p>
                    </td>
                    <td>
                      <time
                        class="val-data-eveniment"
                        datetime="<%= data.toISOString().split('T')[0] %>"
                      >
                        <%= `${zi} ${luna} ${an} (${ziSaptamana})` %></time
                      >
                    </td>
                  </tr>
                  <tr>
                    <td><p class="include_parcare">Parcare:</p></td>
                    <td>
                      <span class="val-parcare"
                        ><%- prod.include_parcare ? "Da" : "Nu" %></span
                      >
                    </td>
                  </tr>
                </table>
                <figure>
                  <a href="/produs/<%-prod.id %>"
                    ><img
                      src="/resurse/imagini/meciuri/<%- prod.imagine_path %>"
                      alt="[imagine <%- prod.nume %>]"
                  /></a>
                </figure>
              </div>
              <p id="descriere_produs_produse"><%= prod.descriere %></p>
              <p class="categorie">
                Categorie:
                <span class="val-categorie"><%- prod.categorie_mare%></span>
              </p>

              <label class="selecteaza-cos">
                Selectează:<br />
                <input
                  type="checkbox"
                  class="select-cos"
                  value="<%-prod.id %>"
                  autocomplete="off"
                />
              </label>
            </article>
            <% }%>
          </div>
        </section>
      </div>
    </main>
    <%- include('../fragmente/footer.ejs') %>
  </body>
</html>
